<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->

<style media="screen">
    h1 {
        height : 100px;
        width: 150px;
        color: black;
        background-color: deepskyblue;
        margin-bottom: 30px;
    }
</style>

<h1>Animal: {{animals}}</h1>


